{% extends "base.html" %}

{% load object_task_extras %}

{% block title %}{{ block.super }} :: description{% endblock %}

{% block js %}
{{ block.super }}
    {% load staticfiles %}
    <script src="{% static "js/object_description.js" %}"></script>
{% endblock %}

{% block content %}
<style type="text/css">
    .instruction {
        font-size: 130%
    }
</style>
<h1>Describing Object Positions</h1>
<h3>Instructions</h3>
<ul class="instruction">
    <li>A sequence of pictures will be displayed.</li>
    <li>Each picture contains a collection of objects on a table.</li>
    <li>Each object is labelled with a number.</li>
</ul>
<ul class="instruction">
    <li>We will show you a sentence meant to describe an object in the scene.</li>
    <li>You will select the number of the object described by the sentence</li>
    <li>If there are multiple objects that could be described by the sentence, choose the best one.</li>
</ul>
<form action="." method="post">
</form>
    {% csrf_token %}
    <input type="hidden"
           name="num_questions"
           id="num_questions"
           value="{{ descriptions|length }}" />
    {% for d in descriptions %}
        <select>
            <option>Select an object</option>
            {% for e in d|description_entities %}
                <option> {{ e.name }}</option>
            {% endfor %}
        </select>
        <p> {{ d.object_description }} </p>
        <p> {{ d.location_description }} </p>
        <p> {{ d.answer }} </p>
        <p> {{ d.scene.image.url }} </p>
    {% endfor %}
    <hr /><br />
    <input type="submit" value="submit" />
{% endblock %}
