{% extends "base.html" %}

{% block title %}{{ block.super }} :: {{ scene.name }}{% endblock %}

{% block content %}
<h1>{{ scene.name }}</h1>

<img src="{{ scene.image.url }}">

<h2>entities</h2>
<ul>
    {% for entity in scene.entities.all %}
        <li>{{ entity.name }}</li>
            {% for desc in entity.generated_descriptions.all %}
                <li>{{ desc.text }} ({{ desc.corpus_size }}, {{ desc.representation_model }})</li>
            {% endfor %}
    {% endfor %}
</ul>
{% endblock %}
