{% extends "base.html" %}

{% block title %}{{ block.super }} :: description{% endblock %}

{% block js %}
{{ block.super }}
    {% load staticfiles %}
    <script src="{% static "js/description.js" %}"></script>
{% endblock %}

{% block content %}
<h1>Describing Object Positions</h1>
<h3>Instructions</h3>
<ul>
    <li>A sequence of pictures will be displayed.</li>
    <li>Each picture contains a collection of objects on a table.</li>
    <li>Each object is labelled with a number.</li>
</ul>
<ul>
    <li>You will be asked to describe the position of one of the objects</li>
    <li>You can use the other objects as reference</li>
    <li>You can also use the different parts of the table (side, corners, etc.)</li>
    <li>Do not use any of the object numbers in your description: describe objects using words.</li>
    <li>Have fun!</li>
</ul>
<form action="." method="post">
    {% csrf_token %}
    <input type="hidden"
           name="num_questions"
           id="num_questions"
           value="{{ entities|length }}" />
    {% for e in entities %}
    <hr />
    <!--
    <h2>{{ e.scene.name }}</h2>
    -->
    <img src="{{ e.scene.image.url }}">
    <input type="hidden"
           name="q{{ forloop.counter }}_eid"
           id="q{{ forloop.counter }}_eid"
           value="{{ e.pk }}" />
    <br/>
    <!--
    Describe object N:
    Object N is ______XX________
    Describe the location of object N:
    XX is ____________
    -->
    <label for="q{{ forloop.counter }}_ans">Describe object {{ e.name }} in the scene above:</label>
    <br/>
    <input type="text"
           name="q{{ forloop.counter }}_obj"
           class="object_description"
           id="q{{ forloop.counter }}_obj"
           size="100"
           maxlength="200" />
    <br/>
    <label for="q{{ forloop.counter }}_ans">Describe the position of object {{ e.name }} in the scene above:</label>
    <br/>
    <label class="object_label"
        id="q{{ forloop.counter }}_obj_lbl">
        asdf
    </label>
    <input type="text"
           name="q{{ forloop.counter }}_loc"
           class="location_description"
           id="q{{ forloop.counter }}_loc"
           size="100"
           maxlength="200" />
    {% endfor %}
    <hr /><br />
    <input type="submit" value="submit" />
</form>
{% endblock %}
