{% extends "base.html" %}

{% block title %}{{ block.super }} :: description{% endblock %}

{% block js %}
{{ block.super }}
<script>
    $(document).ready(function () {
        $('form').submit(function () {
            $('.error').remove();

            $('.answer').each(function () {
                if (/^\s*$/.test(this.value)) {
                    $(this).after('<div class="error">this field is required</div>');
                }
                if (/\d/.test(this.value)) {
                    $(this).after('<div class="error">no digits allowed</div>');
                }
            });

            if ($('.error').length > 0) {
                alert('please answer all questions correctly');
                return false;
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<h1>description task</h1>
<h3>Instructions</h3>
<ul>
    <li>A sequence of pictures will be displayed</li>
    <li>Each picture contains a collection of objects on a table</li>
    <li>Each object has a number on top of it</li>
    <li>You will be asked to describe the position of one of the objects</li>
    <li>You can use the othe objects as reference</li>
    <li>You can also use the different parts of the table (side, corner, etc.)</li>
    <li>You cannot use the object number</li>
    <li>Have fun!</li>
</ul>
<form action="." method="post">
    {% csrf_token %}
    <input type="hidden"
           name="num_questions"
           id="num_questions"
           value="{{ entities|length }}" />
    {% for e in entities %}
    <hr />
    <h2>{{ e.scene.name }}</h2>
    <img src="{{ e.scene.image.url }}">
    <input type="hidden"
           name="q{{ forloop.counter }}_eid"
           id="q{{ forloop.counter }}_eid"
           value="{{ e.pk }}" />
    <label for="q{{ forloop.counter }}_ans">Describe object {{ e.name }}:</label>
    <input type="text"
           name="q{{ forloop.counter }}_ans"
           class="answer"
           id="q{{ forloop.counter }}_ans"
           size="100"
           maxlength="200" />
    {% endfor %}
    <hr /><br />
    <input type="submit" value="submit" />
</form>
{% endblock %}
